body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #4f76bd;
    color: #000000;
}

header {
    background-color:#4f76bd;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #c5d7ee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 73, 73, 0.1);
}

h2 {
    color: #000000;
}

p {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}
